<%- include('includes/head.ejs') %>
<body>
    <%- include('includes/navbar.ejs') %>
    <h1>MicroHabits</h1>
    <p>Thank you for visiting MicroHabits. This site is under alpha development.</p>
<%- include('includes/end.ejs') %>