@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2F4858;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #2F4858;
  }
  
  .active {
    background-color: #F26419;
  }

  /* #33658A
  #86BBD8
  #2F4858
  #F6AE2D
  #F26419 */